<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6"></div>
        <h1><%= title %></h1>

        <form class="form" method="POST">
            <div class="class-group">
                <label for="typeTextField">Coffee Type</label>
                <input type="text" class="form-control"
                id="typeTextField"
                placeholder="Enter the Coffee type"
                name="beanType"
                 required>
            </div>

            <div class="class-group">
                <label for="roastTextField">Coffee Roast</label>
                <input type="text" class="form-control"
                id="roastTextField"
                placeholder="Enter the Coffee roast"
                name="roastLevel"
                required>
            </div>

            <div class="class-group">
                <label for="dateTextField">Roast Date</label>
                <input type="text" class="form-control"
                id="dateTextField"
                placeholder="Enter the Roast Date"
                name="roastDate"
                 required>
            </div>

            <div class="class-group">
                <label for="priceTextField">Price</label>
                <input type="text" class="form-control"
                id="priceTextField"
                placeholder="Enter the Price"
                name="pricePerKg" 
                 required>
            </div>

            <div class="class-group">
                <label for="guideTextField">Brew Guide</label>
                <textarea type="text" class="form-control"
                id="guideTextField"
                placeholder="Enter the Brew Guide"
                name="brewGuide" 
                 required></textarea>
            </div>

            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit">Submit</i>
            </button>

            <a href="/coffee-list" class="btn btn-warning">
                <i class="fas fa-undo"></i> Cancel</a>
        </form>
    </div>
</div>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  




