<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<%- include partials/welcome_to.ejs %>

<main>
<div class="float-container">
    <div class="float-child">
        <div class="img-Me"><img src="Assets/images/meMoji.jpeg " width="300%"></div>
    </div>
</div>
<div class="float-child">
    <h4>Name: ThuYa Sithu</h4>
    <h4>Age: 18</h4>
    <h4>Major: Software Engineering</h4>
    <h4>Nationality: Burmuese/Shan</h4>
    <h4>Part-Time: <a href="/Assets/resume.pdf">Barista</a></h4>
    
</div>
</main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>