<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<%- include partials/welcome_to.ejs %>

<main>
    <div class="productsTxt">
    <h2>Future Projects</h2><br>
        <h4>Updated version of <strong><a href="https://neowars.net/">NeoWars</a></strong></h4>
        <h5>Neo Wars is a tatical stratagy game that has not been updated by the original devs for quite some time.</h5><br>
        <h4>Weather Wear </h4>
        <h5>Weather Wear is a Weather app with a twist; Along with the weather it gives you outfit ideas based on the weather.</h5><br>
    </div>
</main>
    
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  

