<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<%- include partials/welcome_to.ejs %>

<main>
    <h4>Barista Services:</h4>
    <h5>Price: $20/hr </h5>
    <h5>Please Email for more info</h5>

    <h4>WebPage Development</h4>
    <h5>Price: Please Email for price estimate</h5>


</main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  

